<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632860540791-2je7oe1fapj5coq33cafcasc1oqe6slv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632860540791-2je7oe1fapj5coq33cafcasc1oqe6slv</string>
	<key>API_KEY</key>
	<string>AIzaSyB6aPNs5xg1BLZYRWaYXlx2wa6eqaeLRw0</string>
	<key>GCM_SENDER_ID</key>
	<string>632860540791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.mikeschoonen.SwiftUI-Test-Project</string>
	<key>PROJECT_ID</key>
	<string>swiftui-test-project-fb125</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-test-project-fb125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632860540791:ios:cb5a02aabee3a2c31a6b72</string>
	<key>DATABASE_URL</key>
	<string>https://swiftui-test-project-fb125.firebaseio.com</string>
</dict>
</plist>